version: '3.8'

services:
  minmax_octopus_bot:
    container_name: MinMaxOctopusBot
    image: eelmafia/octopus-minmax-bot
    restart: unless-stopped
    ports:
      - "5050:5050"
    volumes:
      - ./logs:/app/logs
      - ./config:/config
    environment:
      - TZ=Europe/London
